.status {
 display: inline-block;
 height: 10px;
 width: 10px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -khtml-border-radius: 5px;
 border-radius: 5px;
}


.status-unknown {
  background-color: gray;
}

.status-offline {
 background-color: red;
}

.status-connected {
 background-color: blue;
}


.status-online {
 background-color: green;
}

ul {
  list-style-type: none;
  width: 100%;
}


